:root {
        --ic-brand-primary-darkened-5: #8026C9;
--ic-brand-primary-darkened-10: #7924BE;
--ic-brand-primary-darkened-15: #7222B4;
--ic-brand-primary-lightened-5: #8C31D5;
--ic-brand-primary-lightened-10: #923CD7;
--ic-brand-primary-lightened-15: #9847D9;
--ic-brand-button--primary-bgd-darkened-5: #8026C9;
--ic-brand-button--primary-bgd-darkened-15: #7222B4;
--ic-brand-button--secondary-bgd-darkened-5: #8026C9;
--ic-brand-button--secondary-bgd-darkened-15: #7222B4;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #7924BE;
--ic-link-color-lightened-10: #923CD7;
--ic-brand-primary: #8627d3;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #8627d3;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #8627d3;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #394B58;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #394B58;
--ic-brand-header-image: url('http://35.154.251.135/accounts/1/files/1/download?verifier=BoW2OEyYgAKSpCWrlOgLVldmDfIxWNk8chYKm6Pv');
--ic-brand-mobile-global-nav-logo: url('http://35.154.251.135/accounts/1/files/2/download?verifier=KBxK94ccsnDsI429QBx4X9iQztUiqvIAY6l5zJTy');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('http://35.154.251.135/accounts/1/files/3/download?verifier=BZzSTZpopKCLuYspjV9cxPcXHvobvIYYA1YsAegd');
--ic-brand-apple-touch-icon: url('http://35.154.251.135/accounts/1/files/4/download?verifier=ltpKk98JJyHrySzzTN5E4KvHRgiQdl61UVmi3q3M');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('http://35.154.251.135/accounts/1/files/5/download?verifier=peGU9uulQIarOACHNmtEsBGPTkVavgcYrlSZm5jy');
--ic-brand-msapplication-tile-wide: url('http://35.154.251.135/accounts/1/files/6/download?verifier=mPLIDa5RpBzPBnDD6AHRBG9ZJuxU5fqDbAwNmJjR');
--ic-brand-right-sidebar-logo: url('http://35.154.251.135/accounts/1/files/7/download?verifier=xmHnBBWVsLXDIvkwdlgMF68tb1fmvftZltpzXkXg');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('http://35.154.251.135/accounts/1/files/8/download?verifier=Qlq7Wnzb2uIa72g1690BRJ0Yio8oKuUZ1C5ILhYY');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('http://35.154.251.135/accounts/1/files/9/download?verifier=kzRfKQfB3D90WkphOFhpdaJqkqqwbUGQxBLgLEl8');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }