:root {
        --ic-brand-primary-darkened-5: #580EA2;
--ic-brand-primary-darkened-10: #530D99;
--ic-brand-primary-darkened-15: #4F0C91;
--ic-brand-primary-lightened-5: #641AAE;
--ic-brand-primary-lightened-10: #6C26B2;
--ic-brand-primary-lightened-15: #7432B6;
--ic-brand-button--primary-bgd-darkened-5: #580EA2;
--ic-brand-button--primary-bgd-darkened-15: #4F0C91;
--ic-brand-button--secondary-bgd-darkened-5: #580EA2;
--ic-brand-button--secondary-bgd-darkened-15: #4F0C91;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #530D99;
--ic-link-color-lightened-10: #6C26B2;
--ic-brand-primary: #5c0eaa;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #5c0eaa;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #5c0eaa;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #5c0eaa;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #5c0eaa;
--ic-brand-header-image: url('https://my.iqgrads.com/accounts/1/files/39/download?verifier=cFOtc0feIuWTe2OZR1SvAVVcOJ8KVrJc0g8aL44s');
--ic-brand-mobile-global-nav-logo: url('https://my.iqgrads.com/accounts/1/files/20/download?verifier=DyKiy4ncFoO9yTDiUNXuN10iCqeeerHwkF5dRXoW');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://my.iqgrads.com/accounts/1/files/21/download?verifier=K4qKoOuUOC6MJzmvzONvAfTQI7O3iAy5oOiUgzCs');
--ic-brand-apple-touch-icon: url('https://my.iqgrads.com/accounts/1/files/22/download?verifier=FLy8d8Sjxmy6pKXhyL27P3R3idPQUZBcra11D3Gv');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://my.iqgrads.com/accounts/1/files/23/download?verifier=7gu18Dstct7AE7TkrND67kKXIErOfqP9jvBAmNtG');
--ic-brand-msapplication-tile-wide: url('https://my.iqgrads.com/accounts/1/files/24/download?verifier=nQKjqwb98BqrOaZevPFQgwyWDwemw53CyhfPYyqY');
--ic-brand-right-sidebar-logo: url('https://my.iqgrads.com/accounts/1/files/25/download?verifier=dwX6qW5rmldH7T17y0rhfslheexOf2oQiOJPgHDp');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://my.iqgrads.com/accounts/1/files/26/download?verifier=dvLfuLcOLsv92Jij3gNToJWmTeimk0VXVQcwpw0D');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://my.iqgrads.com/accounts/1/files/27/download?verifier=9GvDQRN0AguxqzIJZ5nZe39qG33WwVHXvr6szCnU');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }